.columns {
  margin-top: 25px;
  margin-bottom: 25px;
}

.columns.locations {
  margin-bottom: 0;
}

.columns > div {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.columns img {
  margin-bottom: 20px;
  max-height: 400px;
  width: auto;
}

.columns-wrapper + div h2 {
  margin-top: 80px;
}

.columns > div > div {
  flex: 1;
  order: unset;
}

.columns > div > .columns-img-col {
  margin-bottom: 30px;
}

.columns-2-cols img {
  width: 300px;
}

.columns-3-cols img {
  width: 192px;
}

.columns-4-cols img {
  width: 125px;
}

.columns-5-cols img {
  width: 150px;
}

.global-resources p,
.global-resources img,
.global-resources h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  margin: auto;
}

.columns div p:first-child {
  margin-top: 0;
}

main .columns > div:first-of-type > div > picture:first-of-type img {
  display: none;
}

main .columns > div:first-of-type > div > picture:last-of-type img {
  display: block;
  margin: auto;
  max-width: 200px;
  height: auto;
}

@media (min-width: 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 32px;
  }

}

@media (min-width: 768px) {
  .columns-2-cols > div {
    margin-top: 75px;
    margin-bottom: 50px;
  }

  .columns-2-cols > div > div {
    text-align: left;
  }

  .columns-2-cols > div:first-of-type {
    margin-top: 0;
  }

  .columns-2-cols > div:last-of-type {
    margin-bottom: 0;
  }

  .columns-2-cols > div .button-container {
    text-align: center;
  }

  .columns-2-cols.alternate > div:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  .columns-2-cols.alternate > div:nth-of-type(odd) > div:last-of-type {
    text-align: right;
  }

  .columns-2-cols > div h2::after {
    border-color: var(--text-blue-light);
    margin-top: 5px;
  }

  .columns-2-cols > div:nth-of-type(even) h2::after {
    margin-left: 0;
  }

  .columns-2-cols > div:nth-of-type(odd) h2::after {
    margin-right: 0;
  }
  
  main .columns > div:first-of-type > div > picture:last-of-type img {
    display: none;
  }

  main .columns > div:first-of-type > div > picture:first-of-type img {
    display: block;
    margin: auto;
  }

  main .full-image.columns > div:first-of-type > div > picture:first-of-type img {
    max-width: 100%;
    width: 566px;
    height: auto;
    max-height: 100%;
  }
  
}

.our-process a + a:any-link {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--text-color);
  text-decoration: none;
  transition: all .2s ease-in-out;
  opacity: 1;
}

.our-process a + a:hover {
  opacity: 0.85;
}

.global-resources {
  font-size: var(--heading-font-size-l);
  font-weight: 900;
}

.global-resources > div > div {
  margin-bottom: 10px;
}

.columns.locations > div > div {
  text-align: center;
}

.global-resources > div > div:nth-of-type(1) {
  color: var(--text-purple);
}

.global-resources > div > div:nth-of-type(2) {
  color: var(--text-blue-light);
}

.global-resources > div > div:nth-of-type(3) {
  color: var(--text-pink);
}

.global-resources > div > div:nth-of-type(4) {
  color: var(--text-green);
}

.global-resources > div > div > h3 {
  color: var(--text-color);
}

#icons-sprite-map-marker-orange path {
  fill: #f57c00;
}

#icons-sprite-map-marker-blue path {
  fill: #0288d1;
}

a.linked-picture {
  display: block;
  margin-top: 20px;
}