/* styles go here */

.contact-form-container h3 {
    font-size: var(--heading-font-size-l);
    text-align: left;
}

.contact-form-container h3::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--title-border-color);
    height: 1px;
    width: 100px;
}

.contact-form-container p {
    text-align: left;
    font-size: var(--body-font-size-m);
    margin-bottom: 50px;
}

.contact-form.block > .spinner {
    display: flex;
    background-color: var(--text-white);
    transition: opacity 0.75s, visibility 0.75s;
    position: absolute;
    margin-top: 10vh;
    left: 50%;
}

.contact-form.block > .spinner::after {
    content: "";
    width: 150px;
    height: 150px;
    border: 50px solid var(--highlight-background-color);
    border-top-color: var(--title-border-color);
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-iteration-count: 5;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    } 

    to{
        transform: rotate(1turn);
    }
}
