/* block style goes here */

.hotspot-img {
    position: relative;
}

.hotspot-img img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.hidden {
    display: none;
}


.hotspot-img>.icon1 {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #f30;
    position: absolute;
}

.hotspot-img>.icon1>.popup1 {
    position: absolute;
    padding: 5px;
    width: 20vw;
    background-color: var(--text-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color);
    font-size: var(--body-font-size-xs);
    opacity: 0;
    transition: opacity 0.4s linear;
}

.hotspot-img>.icon1:hover .popup1 {
    opacity: 1;
}


.hotspot-img>.icon2 {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #f30;
    position: absolute;
}

.hotspot-img>.icon2>.popup2 {
    position: absolute;
    padding: 5px;
    width: 20vw;
    background-color: var(--text-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color);
    font-size: var(--body-font-size-xs);
    opacity: 0;
    transition: opacity 0.4s linear;
}

.hotspot-img>.icon2:hover .popup2 {
    opacity: 1;
}

.hotspot-img>.icon3 {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #f30;
    position: absolute;
}

.hotspot-img>.icon3>.popup3 {
    position: absolute;
    padding: 5px;
    width: 20vw;
    background-color: var(--text-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color);
    font-size: var(--body-font-size-xs);
    opacity: 0;
    transition: opacity 0.4s linear;
}

.hotspot-img>.icon3:hover .popup3 {
    opacity: 1;
}

.hotspot-img>.icon4 {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #f30;
    position: absolute;
}

.hotspot-img>.icon4>.popup4 {
    position: absolute;
    padding: 5px;
    width: 20vw;
    background-color: var(--text-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color);
    font-size: var(--body-font-size-xs);
    opacity: 0;
    transition: opacity 0.4s linear;
}

.hotspot-img>.icon4:hover .popup4 {
    opacity: 1;
}

.hotspot-img>.icon5 {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #f30;
    position: absolute;
}

.hotspot-img>.icon5>.popup5 {
    position: absolute;
    padding: 5px;
    width: 20vw;
    background-color: var(--text-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color);
    font-size: var(--body-font-size-xs);
    opacity: 0;
    transition: opacity 0.4s linear;
}

.hotspot-img>.icon5:hover .popup5 {
    opacity: 1;
}

@media (min-width: 650px) {
    .hotspot-img>.icon1>.popup1 {
        position: absolute;
        padding: 5px;
        width: 30vw;
        background-color: var(--text-white);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--text-color);
        font-size: var(--body-font-size-xs);
        opacity: 0;
        transition: opacity 0.4s linear;
    }


    .hotspot-img>.icon2>.popup2 {
        position: absolute;
        padding: 5px;
        width: 30vw;
        background-color: var(--text-white);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--text-color);
        font-size: var(--body-font-size-xs);
        opacity: 0;
        transition: opacity 0.4s linear;
    }



    .hotspot-img>.icon3>.popup3 {
        position: absolute;
        padding: 5px;
        width: 30vw;
        background-color: var(--text-white);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--text-color);
        font-size: var(--body-font-size-xs);
        opacity: 0;
        transition: opacity 0.4s linear;
    }



    .hotspot-img>.icon4>.popup4 {
        position: absolute;
        padding: 5px;
        width: 30vw;
        background-color: var(--text-white);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--text-color);
        font-size: var(--body-font-size-xs);
        opacity: 0;
        transition: opacity 0.4s linear;
    }


    .hotspot-img>.icon5>.popup5 {
        position: absolute;
        padding: 5px;
        width: 30vw;
        background-color: var(--text-white);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--text-color);
        font-size: var(--body-font-size-xs);
        opacity: 0;
        transition: opacity 0.4s linear;
    }
}