/* block style goes here */

.hotspot-img img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.hidden {
    display: none;
}

.hotspot-img > .icon {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #ff3300;
  position: absolute;
}